@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
         url('../fonts/Raleway-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
    url('../fonts/Raleway-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.woff2') format('woff2'),
    url('../fonts/Raleway-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*,::after,::before {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    color: #313131;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;
    word-spacing: 2px;
    letter-spacing: 1.2px;
    line-height: 1.5;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 3%;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
html::selection,
br::selection,
a::selection,
div::selection,
img::selection{
    color: rgb(233, 233, 233);
    background: rgb(15, 22, 32);;
}

/*------------links-----------*/

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.link_gray {
    color: #313131;
}

/*------------titles-----------*/

.title {
    font-size: 2rem;
}

.title_small {
    font-size: 1rem;
}

/*------------aboutme-----------*/

.aboutme {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.avatar {
    width: 9rem;
    height: auto;
    border-radius: 50%;
}
.aboutme__avatar {
    margin-bottom: .5rem;
}

.paragraph {
    max-width: 95%;
}

.aboutme__title {
    margin-bottom: .5rem;
}

/*------------skills-----------*/

.skills-container {
    display: flex;
    flex-wrap: wrap;
}

.skills__title {
    margin-bottom: .5rem;
}

.skills {
    margin-bottom: 1.5rem;
}

.skills-container__skill {
    margin-right: 5px;
    margin-bottom: 5px;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
    background-position-x: center;
}

.skills-container__skill:nth-child(1) {
    background-image: url(../icons/html.svg);
}
.skills-container__skill:nth-child(2) {
    background-image: url(../icons/css.svg);
}
.skills-container__skill:nth-child(3) {
    background-image: url(../icons/js.png);
}
.skills-container__skill:nth-child(4) {
    background-image: url(../icons/react.svg);
}
.skills-container__skill:nth-child(5) {
    background-image: url(../icons/redux.svg);
}
.skills-container__skill:nth-child(6) {
    background-image: url(../icons/git.png);
}
.skills-container__skill:nth-child(7) {
    background-image: url(../icons/sass.svg);
}
.skills-container__skill:nth-child(8) {
    background-image: url(../icons/gulp.svg);
}

.skill {

}

/*------------projects-----------*/

.projects__title {
    margin-bottom: .5rem;
}

.projects__item {
    margin-bottom: 2rem;
}

.item__link {
    margin-top: -1.5rem;
    margin-bottom: 1rem;
}

.item__link_title {
    font-size: 4rem;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #313131;
}

.item__link_title:hover {
    font-weight: 700;
    color: #313131;
    -webkit-text-stroke-width: 0;
    transition: .4s;
}

.item__link_title::after {
    content: '';
    display: block;
    background-color: #313131;
    height: 1px;
    width: 100%;
}

.item__container {
    display: flex;
    flex-direction: row;
}

.item__information {
    width: 45%;
    min-width: 450px;
    padding: .3rem 1rem;
}

.item__visual {
    width: 55%;
}

.information__container{
    display: flex;
    flex-direction: column;
    height: 60%;
}

.visual__container {
    display: flex;
    /*justify-content: flex-end;*/
}

.projects__paragraph {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.projects__img {
    width: 100%;
    height: auto;
    border-radius: .3rem;
}

/*-----------footer-----------*/

.footer {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.author-info {
    font-size: .7rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem 0;
}

.link-cv {
    margin-top: .5rem;
}

.social-links {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 70%;
    padding: 1rem 0;
}

.social-links__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
}

.social-link {
    margin-right: .5rem;
}

/*-----------media-queries-----------*/

@media only screen and (max-width: 1024px) {

    .wrapper {
        /*margin: 0 7%;*/
    }

    .aboutme {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .item__container {
        flex-wrap: wrap;
    }

    .item__information,
    .item__visual {
        width: 100%;
    }

    .visual__container {
        width: 70%;
        margin: 0 auto;
    }

    .social-links{
        margin-bottom: 1rem;
        font-size: .8rem;
    }
}

@media only screen and (max-width: 1000px) {

    .aboutme {
        margin-bottom: 1.5rem;
    }

    .skills {
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 900px) {

    .author-info {
        width: 100%;
    }

    .social-links {
        width: 100%;
    }

    .footer {
        flex-wrap: wrap;
    }
}


@media only screen and (max-width: 769px) {

    .wrapper {
        margin: 0 4%;
    }
    .aboutme {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .skills {
        margin-bottom: 1.5rem;
    }

    .visual__container {
        width: 90%;
    }

    .social-link {
        font-size: .6rem;
    }

    .item__link {
        margin-top: 0;
    }
    .item__link_title {
        font-size: 2rem;
    }

}


@media only screen and (max-width: 481px) {

    .title {
        font-size: 1.5rem;
    }

    .item__information {
        min-width: 200px;
        padding: 0;
    }

    .social-link_hidden {
        display: none;
    }

    .social-links__list {
        justify-content: space-around;
    }

}
